#name{
  width: 80%;
}

#name p{
  font-size: 50px;
}

#titlebar{
  padding-left: 100px;
  display:inline-flex;
  width: 100%
}

#pic{
  width: 20%;
  height: 100px;
  padding-top: 50px;
}

#pic img{
  border-radius: 50%;
}
