#titleBar{
  background-color: #FEFEFE;
  height: 80px;
  margin-top: -30px;
}

#Name{
  color: #6059de;
  font-size: 50px;
  font-weight: 700;
  font-family: sans-serif;
  height: 10px;
}

#Career{
  padding-top: 30px;
  font-size: 20px;
  color: #df7777
}
